.slick-active.slick-center  {
    div{
        div {
            img {
                border: 2px white solid;
                overflow: hidden;
                border-radius: 0.375rem;
                -webkit-border-radius: 0.375rem;
                -moz-border-radius: 0.375rem;
                -ms-border-radius: 0.375rem;
                -o-border-radius: 0.375rem;
            }
        }
    }
}