@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@layer base {
  * {
    font-family: "Tajawal", sans-serif;
  }

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #1E2329;
}

*::-webkit-scrollbar-track:hover {
  background-color: #313843;
}

*::-webkit-scrollbar-track:active {
  background-color: #313843;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #4B619B;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #5F7BC5;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #5F7BC5;
}
}

@layer components {
  .steam-gradient {
    @apply bg-gradient-to-b;
    background: linear-gradient(to bottom, #040011 0%, #202B3C 40%);
  }
}

@layer components{
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
}

@layer utilities {
  /* Heading */
  .heading-large {
    font-size: 26px;
    font-weight: bold;
  }
  .heading-medium {
    font-size: 22px;
    font-weight: bold;
  }
  .heading-small {
    font-size: 18px;
    font-weight: bold;
  }
  /* body */
  .body-large {
    font-size: 16px;
    font-weight: normal;
  }
  .body-medium {
    font-size: 14px;
    font-weight: normal;
  }
  .body-small {
    font-size: 12px;
    font-weight: normal;
  }
}
